.cardDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
   padding: 0;
}
.card{
 width: 55rem; 
 margin-top: 15px;
}

.fonteLink{
    text-decoration: none;
    color: #000;
    background:#EBEDEF ;
    border-radius: 20%;
    padding: 2px;
    font-weight: 400;
    text-align: center;
}
.voltar,.avancar{
    padding: 0;
    width: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-style: none;
    background: none;
}
@media only screen and (max-width: 768px){
    .card{
        width: 18rem;
    }
}